body {
    background-color: black;
    font-family: 'Anta', sans-serif;
}

#gameCarousel {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    height: 300px;
}

#gameCarousel div:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

#game1Div, #game2Div, #game3Div, #game4Div {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 20px;
    background-size: cover;
    margin: 10px;
    display: inline-block;
    background-position: center;
    overflow-x: hidden;
}

#navigationButtons {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    width: max-content;
    margin: auto;
}

#navigationButtons h2 {
    cursor: pointer;
    user-select: none;
}

#navigationButtons h2:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#gamesContainer {
    text-align: center;
}

#gamesContainer div:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}